@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    @apply text-black dark:text-white;
    @apply bg-gradient-to-b from-transparent to-[rgb(var(--background-end-rgb))] bg-[rgb(var(--background-start-rgb))];

    @apply dark:bg-gradient-to-b dark:from-transparent dark:to-[#000] dark:bg-[#000];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .loader {
    @apply border-4 border-solid border-gray-200 border-t-blue-500 rounded-full w-10 h-10;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .dark .loader {
    @apply border-gray-800 border-t-primary-light;
  }
}
